# Integración futura con Google Sheets. No se usa en esta V0 local.
GOOGLE_SHEETS_DOCUMENT_ID=
GOOGLE_SHEETS_API_KEY=

# Autenticación institucional con Google
AUTH_SECRET=
AUTH_GOOGLE_ID=
AUTH_GOOGLE_SECRET=